<launch>
    <node pkg="voice_module" type="direction_correct.py" name="direction_correct" output="screen" />

      <param name='Kp_dir_param' value='0.5' type='double' />
      <param name='Ki_dir_param' value='0.0' type='double' />
      <param name='Kd_dir_param' value='0.0' type='double' />

</launch>